<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Predição de Risco</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h2>Preencha os dados para a predição</h2>
      <form action="/predict" method="post">
        <label>Peso do Peixe (g):</label>
        <input
          type="number"
          step="0.1"
          name="average_fish_weight"
          required
        /><br />

        <label>Temperatura da água (°C):</label>
        <input type="number" step="0.1" name="temperature" required /><br />

        <label>Oxigênio Dissolvido (mg/L):</label>
        <input
          type="number"
          step="0.1"
          name="dissolved_oxygen"
          required
        /><br />

        <label>pH:</label>
        <input type="number" step="1" name="ph" required /><br />

        <label>Turbidez (NTU):</label>
        <input type="number" step="1" name="turbidity" required /><br />

        <label>Houve intervenções de Oxigenação?</label>
        <select name="oxygenation_interventions">
          <option value="1">Sim</option>
          <option value="0">Não</option></select
        ><br />

        <label>Quantidade de intervenções corretivas:</label>
        <input
          type="number"
          name="corrective_interventions"
          min="0"
          required
        /><br />

        <label>Possui oxigenação automática:</label>
        <select name="oxygenation_automatic">
          <option value="1">Sim</option>
          <option value="0">Não</option></select
        ><br />

        <label>Tomou medidas corretivas?</label>
        <select name="corrective_measures">
          <option value="1">Sim</option>
          <option value="0">Não</option></select
        ><br />

        <label>Índice de risco térmico:</label>
        <select name="thermal_risk_index">
          <option value="1">Normal</option>
          <option value="0">Alto</option></select
        ><br />

        <label>Estado de saúde:</label>
        <select name="health_status">
          <option value="1">Estável</option>
          <option value="0">Em risco</option></select
        ><br />

        <button type="submit">Prever</button>
      </form>
    </div>
  </body>
</html>
